hf-xet==1.1.9
hf_transfer==0.1.9
huggingface-hub==0.34.4
matplotlib==3.10.0
numpy==2.0.2
openai==1.106.1
opencv-contrib-python==4.12.0.88
opencv-python==4.12.0.88
opencv-python-headless==4.12.0.88
openpyxl==3.1.5
opt_einsum==3.4.0
pandas==2.2.2
pandas-datareader==0.10.0
requests==2.32.4
safetensors==0.6.2
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.16.1
sklearn-pandas==2.2.0
tiktoken==0.11.0
tokenizers==0.22.0
torch==2.8.0+cu126
torch-geometric==2.6.1
torchao==0.10.0
torchaudio==2.8.0+cu126
torchdata==0.11.0
torchsummary==1.5.1
torchtune==0.6.1
torchvision==0.23.0+cu126
tqdm==4.67.1
transformers==4.56.1
urllib3==2.5.0
uvicorn==0.35.0
